<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gopherjs + Vue + newsapi</title>
    </head>

    <body>
        <script async src="js/index.js"></script>
        <script async src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

        <div class="container" id="app" v-cloak>
            <section class="hero">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">Gopherjs + Vue + newsapi</h1>
                        <h2 class="subtitle">example app</h2>
                    </div>
                </div>
            </section>

            <div class="columns">
                <div class="column is-1">
                    <button class="button" v-on:click="Fetch"
                            id="btn_fetch" v-bind:class="{ 'is-loading': isFetching }" v-bind::disabled="isFetching">
                        Fetch
                    </button>
                </div>
                <div class="column">
                    <ul v-if="articles.length">
                        <li v-for="article in articles">
                            <div class="box">
                                <p class="title is-3">{{ article.title }}</p>
                                <p class="subtitle is-5">by {{ article.author }}, <a v-bind:href="article.url">URL</a></p>

                                <div class="content"><p>{{ article.content }}</p></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</html>